# Ativar o mecanismo de reescrita
RewriteEngine On

# Certificar-se de que a URL não é para um arquivo físico ou pasta
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Redirecionar todas as requisições para o index.php
RewriteRule ^ index.php [L]

# Bloquear acesso a arquivos sensíveis diretamente
<FilesMatch "\.(env|ini|log|sh|bak|sql|php~)$">
    Order allow,deny
    Deny from all
</FilesMatch>

# Configurar o padrão de index para abrir automaticamente o index.php
DirectoryIndex index.php

# Proteger pastas internas de acessos diretos
<IfModule mod_autoindex.c>
    Options -Indexes
</IfModule>

# Configuração de erro 404 personalizada
ErrorDocument 404 /404.php

# Reescrita de URLs amigáveis
RewriteRule ^ index.php [L]
